footer {
    background-color: #050505a2;
    
    color: white;
}

footer .text-uppercase {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer a.text-white {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Ajout de la transition */
}

footer a.text-white:hover {
    color: #ffa600 !important; /* Forcer la couleur au survol */
}
