
.bg-custom {
    background-color: #F8EEB7;
    
}

.navbar-brand {
    color: #de7105;
    
}

.custom-input-search {
    width: 100px; 
    height: 30px; 
    font-size: 0.875rem;
}

.custom-button {
    height: 30px; 
    font-size: 0.875rem; 
    padding: 0.25rem 0.5rem; 
}

.spacing-horizontal {
    margin-right: 20px; 
    margin-left: 20px;
}


