.item-even {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.item-name:hover {
    white-space: normal; /* Permet aux retours à la ligne */
    overflow: visible; /* Affiche le texte complet */
    font-size: 0.8em; /* Rend le texte plus petit */
    background-color: rgba(0, 0, 0, 0.1); /* Optionnel, ajoute un fond pour la lisibilité */
    position: relative;
    z-index: 1; /* S'assure que le texte soit au-dessus des autres éléments */
}


.item-odd {
    background-color: #de7105;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-quantity:focus {
    border-color: #de7105;
    box-shadow: 0px 0px 10px rgba(230, 117, 5, 0.3);
}

.input-quantity {
    transition: transform 0.2s ease;
}

.input-quantity:hover {
    transform: scale(1.1);
}

.delete-item-btn:hover {
    color: #de7105;
    transform: scale(1.1);
    transition: color 0.2s ease, transform 0.2s ease;
}

.btn-danger,
.btn-dark {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-danger:hover {
    background-color: #de7105;
    box-shadow: 0px 5px 15px rgba(222, 113, 5, 0.3);
}

.btn-dark:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #de7105;

}

.row.mb-4:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}


.input-quantity {
    width: 100%;
    /* Prend toute la largeur de sa colonne */
}

.item-price {
    white-space: nowrap;
    /* Empêche le prix de se casser */
}

@media (max-width: 576px) {
    .row>div {
        margin-bottom: 10px;
    }
}


.text-white,
.btn-danger,
.col-6,
.btn-outline-secondary,
.text-black,
.btn-dark,
.text-center,
.adresse_livraison {
    font-family: 'lucida console', monospace;
    padding: 10px;
}