.item-even {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-odd {
    background-color: #de7105;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-quantity:focus {
    border-color: #de7105;
    box-shadow: 0px 0px 10px rgba(230, 117, 5, 0.3);
}

.input-quantity {
    transition: transform 0.2s ease;
}

.input-quantity:hover {
    transform: scale(1.1);
}

.delete-item-btn:hover {
    color: #de7105;
    transform: scale(1.1);
    transition: color 0.2s ease, transform 0.2s ease;
}

.btn-danger,
.btn-dark {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-danger:hover {
    background-color: #de7105;
    box-shadow: 0px 5px 15px rgba(222, 113, 5, 0.3);
}

.btn-dark:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.row.mb-4:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}


.input-quantity {
    width: 100%;
    /* Prend toute la largeur de sa colonne */
}

.item-price {
    white-space: nowrap;
    /* Empêche le prix de se casser */
}

@media (max-width: 576px) {
    .row>div {
        margin-bottom: 10px;
    }
}


.text-white {
    font-family: Georgia, 'Times New Roman', Times, serif;
}