.carousel {
    margin: auto;
    /* Centrer horizontalement */
    max-width: 500px;
    /* Largeur maximale du carousel */
}

.carousel-item img {
    max-height: 400px;
    /* Hauteur maximale des images du carousel */
    object-fit: cover;
    /* Assurez-vous que l'image remplit l'espace sans distorsion */
    width: 100%;
    /* Largeur maximale des images */
}

.card-3d {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    background-color: white;
    color: rgb(37, 35, 35);
    border-color: #dc4ee3;

    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(230, 0, 255, 0.1), 0 1px 3px rgba(230, 0, 255, 0.08);

}

.custom-label {
    border-radius: 20px;
    border-color: #8a1d85;
    height: 38px;
    padding-top: 0;
    padding-bottom: 0;
}



.card-3d:hover {
    transform: perspective(1000px) rotateY(10deg);
}

/* footer 
footer {
	display : table-row;
	height: 100px; 
}
*/
/* body {
   
    background-color: #edd6ed;
    display : table;
	width: 100%;
} */
/* html, body {
	height: 100%;
	margin: 0; padding: 0;
} */

#contact {

    width: 500px;

}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-bottom: 10px;
}

footer .nav-link {
    padding: 0;
}



.tenor-gif-embed img {
    width: 50%;
    height: auto;
}

.custom-card {

    width: 240px;
    margin: 0 10px;


}


/* bouton input page article */
.stock-badge {
    width: 60px;
    height: 30px;
}

.custom-select-2 , .form-control-2  {
    width: 50px;
    height: 30px;
}

.custom-input-small {
   
    
    width: 30px;
    height: 30px;
}

.custom-input-small-2{
   
    width: 50px;
    height: 30px;
   
}

/* footer */
.custom-footer {
    padding: 5px 0;
    
}



.custom-footer .nav-custom .nav-item {
    margin-bottom: 1px;
   
}

footer .nav-link {
    padding: 0;
}


#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-bottom: 10px;

}





button .fas {
    margin-right: 5px; 
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .card-title {
        font-size: 1.2em;
    }

    .card-text {
        font-size: 0.9em;
    }

    .carousel-item img {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .card-title {
        font-size: 1em;
    }

    .card-text {
        font-size: 0.8em;
    }

    .carousel-item img {
        max-height: 200px;
    }
}


@media (max-width: 576px) {
    .custom-select {
        width: 100%;
    }
}