.item-even {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-even,
.item-odd {
    padding: 10px;
    max-height: 150px;

}

/* Conteneur de la colonne pour l'image */
.col-4 img {
    display: block;
    /* Empêche tout comportement inline indésirable */
    max-width: 100%;
    /* S'assure que l'image ne dépasse pas la largeur de son conteneur */
    height: auto;
    /* Maintient les proportions de l'image */
    object-fit: contain;
    /* Adapte l'image à son conteneur sans la rogner */
    border-radius: 5px;
    /* Conserve les coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ajoute une ombre légère */
}




.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.item-name:hover {
    white-space: normal;
    /* Permet aux retours à la ligne */
    overflow: visible;
    /* Affiche le texte complet */
    font-size: 0.8em;
    /* Rend le texte plus petit */
    background-color: rgba(0, 0, 0, 0.1);
    /* Optionnel, ajoute un fond pour la lisibilité */
    position: relative;
    z-index: 1;
    /* S'assure que le texte soit au-dessus des autres éléments */
}


.item-odd {
    background-color: #de7105;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-quantity:focus {
    border-color: #de7105;
    box-shadow: 0px 0px 10px rgba(230, 117, 5, 0.3);
}

.input-quantity {
    transition: transform 0.2s ease;
}

.input-quantity:hover {
    transform: scale(1.1);
}

.delete-item-btn:hover {
    color: #de7105;
    transform: scale(1.1);
    transition: color 0.2s ease, transform 0.2s ease;
}

.btn-danger,
.btn-dark {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-danger:hover {
    background-color: #de7105;
    box-shadow: 0px 5px 15px rgba(222, 113, 5, 0.3);
}

.btn-dark:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #de7105;

}

.row.mb-4:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}


.input-quantity {
    width: 100%;
    /* Prend toute la largeur de sa colonne */
}

.item-price {
    white-space: nowrap;
    /* Empêche le prix de se casser */
}

@media (max-width: 576px) {
    .row>div {
        margin-bottom: 10px;
    }
}


.text-white,
.btn-danger,
.col-6,
.btn-outline-secondary,
.text-black,
.btn-dark,
.text-center,
.adresse_livraison {

    padding: 10px;
}


.loading-spinner {
    display: none;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid white;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}